body{
    box-sizing: border-box;
    background: white;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
